# SBT
boot/
lib_managed/
target/
.history
.worksheet/*

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
*.class

# TextMate
*.tmproj

# Mac
.DS_Store
